.invalid-error-input {
  border-color: brown !important;
  box-shadow: 1px 1px 3px brown !important;
}

.invalid-text-value {
  color: brown;
  font-size: 11px;
}

.dropdown-menu a.dropdown-item {
  cursor: pointer;
}

@media (min-width: 768px) {
  .ml-md-4,
  .mx-md-4 {
    margin-left: 0 !important;
  }
}
