<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="active">Login</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mt-3 text-center">
        <% if (message !=null) { %><span class="alert alert-danger">
            <%= message %>
          </span>
          <% } %>
      </div>
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mt-3">
        <!-- Login Form s-->
        <form id="form-login" name="flogin">
          <input type="hidden" id="org" name="org" value="supply" />
          <div class="login-form">
            <h4 class="login-title">Login</h4>
            <div class="row">
              <div class="col-md-12 col-12 mb-20">
                <label>Username</label>
                <input class="mb-0" name="username" id="username" type="text" placeholder="Username" />
                <span id="invalid-username" class="invalid-text-value text-danger"></span>
              </div>
              <div class="col-12 mb-20">
                <label>Password</label>
                <input class="mb-0" type="password" name="password" id="password" placeholder="Password" />
                <span id="invalid-password" class="invalid-text-value text-danger"></span>
              </div>
              <div class="col-12 mb-20">
                <label>Certificate file</label>
                <input class="mb-0" type="file" name="key" id="key" placeholder="Select cert pem" />
                <span id="invalid-key" class="invalid-text-value text-danger"></span>
              </div>

              <div class="col-md-8">
                <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                  <input type="checkbox" id="remember_me" />
                  <label for="remember_me">Remember me</label>
                </div>
              </div>
              <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                <a href="#"> Forgotten password?</a>
              </div>
              <div class="col-md-4">
                <button type="button" id="login-btn" class="register-button mt-0">
                  <div id="loader-register" class="lds-ring hidden">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  Login
                </button>
              </div>
              <div class="col-md-8 text-right text-md-right">
                Create new account? <a href="/register">Register</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Login Content Area End Here -->

<script>
  function getFileName(fullPath) {

    if (fullPath) {
      var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
      var filename = fullPath.substring(startIndex);
      if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
        filename = filename.substring(1);
      }
      return filename;
    }
    return null;
  }

  function clearAfterDelay(e) {
    setTimeout(() => {
      e.text("");
    }, 15000);
  }
  $(document).on("click", "#login-btn", function () {
    let _this = $(this);
    _this.attr("disabled", "disabled");
    let spin = $("#login-btn > div");
    if (spin) {
      if (spin.hasClass("hidden")) {
        spin.removeClass("hidden");
      }
    }
    // var form = document.forms.namedItem('flogin');
    let data = new FormData();
    data.append("key", $('#key').prop("files")[0]);
    var fullPath = document.getElementById('key').value;
    console.log(fullPath);
    const filename = getFileName(fullPath);
    console.log(filename);
    var formLogin = {
      org: $('#org').val(),
      username: $('#username').val(),
      password: $('#password').val(),
      fileid: filename
    };
    $.ajax({
      url: "/upload-keys",
      type: "post",
      data: data,
      processData: false,
      contentType: false,
      success: function (res) {
        $.ajax({
          url: "/login",
          type: "post",
          data: formLogin,
          success: function (res) {
            if (res.status) {
              if (window.location.pathname.includes("login")) {
                window.location.href = "/account";
              } else {
                window.location.href = window.location.href;
              }
            } else {
              toastr.danger(
                res.message ? res.message : "Server is updating now..."
              );
            }
          },
          error: function (jq, status, err) {
            _this.removeAttr("disabled");
            if (spin) {
              if (!spin.hasClass("hidden")) {
                spin.addClass("hidden");
              }
            }
            let responseError = JSON.parse(jq.responseText);
            console.log(responseError);
            responseError.errors.forEach((error) => {
              if (!$("#" + error.param).hasClass("invalid-error-input")) {
                $("#" + error.param).addClass("invalid-error-input");
                setTimeout(() => {
                  if ($("#" + error.param).hasClass("invalid-error-input")) {
                    $("#" + error.param).removeClass("invalid-error-input");
                  }
                }, 5000);
              }
              $("#invalid-" + error.param).text(error.msg);
              clearAfterDelay($("#invalid-" + error.param));
            });
          },
        });
      },
      error: function (jq, status, error) {
        console.log(jq);
      },
    });
  });
</script>