<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="active">Register</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xs-12 mt-3">
        <form id="form-register">
          <div class="login-form">
            <h4 class="login-title">Register</h4>
            <div class="row">
              <input type="hidden" name="org" value="supply" />
              <div class="col-md-12 col-12 mb-20">
                <label>User Name<span class="text-danger">*</span></label>
                <input
                  class="mb-0"
                  name="username"
                  id="username"
                  type="text"
                  required
                  placeholder="User Name"
                />
                <span
                  id="invalid-username"
                  class="invalid-text-value text-danger"
                ></span>
              </div>
              <div class="col-md-4 col-12 mb-20">
                <label>First Name<span class="text-danger">*</span></label>
                <input
                  class="mb-0"
                  name="firstname"
                  id="firstname"
                  type="text"
                  required
                  placeholder="First Name"
                />
                <span
                  id="invalid-firstname"
                  class="invalid-text-value text-danger"
                ></span>
              </div>
              <div class="col-md-4 col-12 mb-20">
                <label>Middle Name</label>
                <input
                  class="mb-0"
                  name="middlename"
                  id="middlename"
                  type="text"
                  placeholder="Middle Name"
                />
              </div>
              <div class="col-md-4 col-12 mb-20">
                <label>Last Name<span class="text-danger">*</span></label>
                <input
                  class="mb-0"
                  name="lastname"
                  id="lastname"
                  type="text"
                  required
                  placeholder="Last Name"
                />
                <span
                  id="invalid-lastname"
                  class="invalid-text-value text-danger"
                ></span>
              </div>
              <div class="col-md-12 mb-20">
                <label>Email Address<span class="text-danger">*</span></label>
                <input
                  class="mb-0"
                  name="email"
                  id="email"
                  type="email"
                  required
                  placeholder="Email Address"
                />
                <span
                  id="invalid-email"
                  class="invalid-text-value text-danger"
                ></span>
              </div>
              <div class="col-md-6 mb-20">
                <label>Password<span class="text-danger">*</span></label>
                <input
                  class="mb-0"
                  name="password"
                  id="password"
                  type="password"
                  required
                  placeholder="Password"
                />
                <span
                  id="invalid-password"
                  class="invalid-text-value text-danger"
                ></span>
              </div>
              <div class="col-md-6 mb-20">
                <label
                  >Confirm Password<span class="text-danger">*</span></label
                >
                <input
                  class="mb-0"
                  name="confirmPassword"
                  id="confirmPassword"
                  type="password"
                  required
                  placeholder="Confirm Password"
                />
                <span
                  id="invalid-confirmPassword"
                  class="invalid-text-value text-danger"
                ></span>
              </div>
              <div class="col-md-4">
                <button
                  type="button"
                  id="register-btn"
                  class="register-button mt-0"
                >
                  <div id="loader-register" class="lds-ring hidden">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  Register
                </button>
              </div>
              <div class="col-md-8 text-right text-md-right">
                Already have account? <a href="/login">Login</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Login Content Area End Here -->

<script>
  function clearAfterDelay(e) {
    setTimeout(() => {
      e.text("");
    }, 15000);
  }
  $(document).on("click", "#register-btn", function () {
    let _this = $(this);
    _this.attr("disabled", "disabled");
    let spin = $("#register-btn > div");
    if (spin) {
      if (spin.hasClass("hidden")) {
        spin.removeClass("hidden");
      }
    }
    $.ajax({
      url: "/register",
      type: "post",
      data: $("#form-register").serialize(),
      success: function (res) {
        toastr.success(res.message);
        setTimeout(() => {
          window.location.href = "/login";
        }, 3000);
      },
      error: function (jq, status, err) {
        _this.removeAttr("disabled");
        if (spin) {
          if (!spin.hasClass("hidden")) {
            spin.addClass("hidden");
          }
        }
        let responseError = JSON.parse(jq.responseText);
        console.log(responseError);
        responseError.errors.forEach((error) => {
          if (!$("#" + error.param).hasClass("invalid-error-input")) {
            $("#" + error.param).addClass("invalid-error-input");
            setTimeout(() => {
              if ($("#" + error.param).hasClass("invalid-error-input")) {
                $("#" + error.param).removeClass("invalid-error-input");
              }
            }, 5000);
          }
          $("#invalid-" + error.param).text(error.msg);
          clearAfterDelay($("#invalid-" + error.param));
        });
      },
    });
  });
</script>
