<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Verify</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mt-3 text-center">
                <% if (message !=null) { %>
                    <% if (isVerify==true) { %>
                        <span class="alert alert-success">
                            <%= message %>
                        </span>
                        <% } else { %>
                            <span class="alert alert-danger">
                                <%= message %>
                            </span>
                            <% }} %>
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mt-3">
                <!-- Login Form s-->
            </div>
        </div>
    </div>
</div>

<script>
</script>