<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="/admin"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a href="/admin/product-types">Product Types</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="/admin/product-types/add" class="btn btn-sm btn-neutral">New</a>
          <!-- <a href="#" class="btn btn-sm btn-neutral">Filters</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">List Product Type</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">
                  Product Type ID
                </th>
                <th scope="col" class="sort" data-sort="budget">Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="list" id="admin-product-list"></tbody>
          </table>
        </div>
        <!-- Card footer -->
        <div class="card-footer py-4">
          <nav aria-label="..." id="pagination-footer"></nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Item: <span id="item-modal-name"></span></div>
        <div>Are you sure delete this item?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" data-key="" id="btn-delete-modal">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalDetailTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="time-line-container">
          <div class="time-line-wrapper">
            <h2 class="time-line-header">Timeline</h2>
            <ul class="sessions"></ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document
    .querySelector("#btn-delete-modal")
    .addEventListener("click", function (e) {
      let key = this.getAttribute("data-key");
      console.log(key);
      $.ajax({
        url: "/admin/product-types/delete",
        type: "post",
        data: {
          productTypeId: key,
        },
        success: function (res) {
          if (res.status) {
            toastr.success(res.message);
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          } else {
            toastr.error(res.message);
          }
        },
        error: function (jq, status, err) {
          let responseError = JSON.parse(jq.responseText);
          toastr.error(responseError.toString());
        },
      });
    });

  function template(productTypes) {
    let gridContent = "";
    let product = undefined;
    productTypes.forEach((prod) => {
      productType = prod.Value;
      gridContent += '<tr><th class="budget">';
      gridContent += productType.productTypeId;
      gridContent += '</th><th class="budget">';
      gridContent += productType.name;
      gridContent +=
        '</th><td class="text-right"><div class="dropdown"><a class="btn btn-sm btn-icon-only text-light" href="#" role="button"' +
        'data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
        '<i class="fas fa-ellipsis-v"></i>' +
        "</a>" +
        '<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">' +
        '<a class="dropdown-item showup-detail-modal" data-name="' +
        productType.name +
        '" data-key="' +
        productType.productTypeId +
        '">Detail</a>' +
        '<a class="dropdown-item" href="/admin/product-types/edit/' +
        productType.productTypeId +
        '">Edit</a>' +
        '<a class="dropdown-item showup-delete-modal" data-name="' +
        productType.name +
        '" data-key="' +
        productType.productTypeId +
        '" data-toggle="modal" data-key="' + productType.productTypeId + '" onclick="loadDeleteModal(this)" data-target="#exampleModalCenter">Delete</a>' +
        "</div>" +
        "</div>" +
        "</td>" +
        "</tr>";
    });
    return gridContent;
  }

  function loadDeleteModal(e) {
    let name = e.getAttribute("data-name");
    let key = e.getAttribute("data-key");
    console.log(key);
    document.getElementById("item-modal-name").innerText = name;
    document.getElementById("btn-delete-modal").setAttribute("data-key", key);
  }

  $(document).on("click", ".showup-detail-modal", function () {
    let name = $(this).data("name");
    let key = $(this).data("key");
    $.ajax({
      url: `/api/get-product-type-history/${key}`,
      type: "get",
      success: function (res) {
        console.log(res);
        if (res.status) {
          let { history } = res;
          if (history.length > 0) {
            let historyContent = "";
            history.forEach((his) => {
              console.log(typeof his.updated_by);
              historyContent +=
                '<li class="time-line-list"><div class="time">' + his.Timestamp;
              if (his.Value.is_delete) {
                historyContent +=
                  '<div class="time-line-badge time-line-badge-delete">Deleted</div>' +
                  "</div><div> TxID: " +
                  his.TxId +
                  "</div>";
              } else {
                if (his.Value.updated_by != "") {
                  historyContent +=
                    '<div class="time-line-badge time-line-badge-update">Updated</div>' +
                    "</div><div> TxID: " +
                    his.TxId +
                    "</div>";
                } else {
                  historyContent +=
                    '<div class="time-line-badge time-line-badge-create">Create</div>' +
                    "</div><div> TxID: " +
                    his.TxId +
                    "</div>";
                }
              }
              historyContent +=
                '<div id="accordion_' +
                his.TxId +
                '">' +
                '<div class="card">' +
                '<div class="card-header" id="heading_' +
                his.TxId +
                '">' +
                '<h5 class="mb-0">' +
                "<button" +
                ' class="btn btn-link"' +
                ' data-toggle="collapse"' +
                ' data-target="#collapse_' +
                his.TxId +
                '"' +
                ' aria-expanded="true"' +
                ' aria-controls="collapse_' +
                his.TxId +
                '"' +
                ">" +
                his.Value.productTypeId +
                "[Doc type: " +
                his.Value.docType +
                "]" +
                "</button>" +
                "</h5>" +
                "</div>" +
                "<div " +
                'id="collapse_' +
                his.TxId +
                '" ' +
                'class="collapse"' +
                ' aria-labelledby="heading_' +
                his.TxId +
                '"' +
                ' data-parent="#accordion_' +
                his.TxId +
                '"' +
                ">" +
                '<div class="card-body"><div class="row">';
              for (const [key, value] of Object.entries(his.Value)) {
                historyContent +=
                  '<div class="col-sm-4">' +
                  key +
                  '</div><div class="col-sm-8">' +
                  value +
                  "</div>";
              }
              historyContent +=
                "</div></div>" + "</div>" + "</div>" + "</div>" + "</li>";
            });
            document.getElementsByClassName("sessions")[0].innerHTML =
              historyContent;
          }
          $("#exampleModalLong").modal("show");
          document.getElementById("exampleModalDetailTitle").innerText = name;
        } else {
          toastr.warn(res.message);
        }
      },
      error: function (jq, status, err) {
        console.log(jq);
        let responseError = JSON.parse(jq.responseText);
        toastr.error(responseError.toString());
      },
    });
  });

  $(document).ready(function () {
    const loadProduct = () => {
      $.ajax({
        url: "/api/product-types",
        type: "get",
        data: {
          org: "supply",
        },
        success: function (res) {
          if (res?.productTypes) {
            let { productTypes } = res;
            $("#admin-product-list").empty();
            let dataContainer = $("#admin-product-list");
            $("#pagination-footer").pagination({
              dataSource: productTypes,
              pageSize: 10,
              showGoInput: true,
              showGoButton: true,
              callback: function (data, pagination) {
                var html = template(data);
                dataContainer.html(html);
              },
            });
          } else {
            $("#admin-product-list").empty();
            $("#admin-product-list").append(
              '<div class="col-lg-12 col-md-12 col-sm-12 mt-40 d-flex justify-content-center">Not found any product types</div>'
            );
          }
        },
        error: function (r, h, e) {
          console.log(e);
          $("#admin-product-list").empty();
          $("#admin-product-list").append(
            '<div class="col-lg-12 col-md-12 col-sm-12 mt-40 d-flex justify-content-center">Not found any product types</div>'
          );
        },
      });
    };

    let pathname = window.location.pathname;
    if (pathname.includes("admin/product-types")) {
      loadProduct();
    }
  });
</script>